body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #606060;
  background: #EBEBE7;
}

h1, h2 {
  font-family: 'Libre Baskerville', serif;
  color: black;
}

.box {
  background: #137F00;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid rgba(255,255,255, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  margin-bottom: 1rem;
  min-height: 1rem;
  overflow: hidden;
  padding: 1rem 0;
  position: relative;
  text-align: center;
}
.box.large {
  height: 6rem;
}

pre {
  background: white;
}
.container {
  padding: 0.5rem;
}
@media only screen and (min-width: 48rem) {
  .container {
    padding: 1rem;
  }
}
