@import nib
@require "lib/index"

.row
  display: flex
  flex-flow: row wrap

.column
  display: flex
  flex-direction: column
  flex: 1

// default to small screens
$col_width = (100/12)%

getClass(width, screensize = null)
  klass = width
  klass = '%d' % width + '--' + screensize if screensize
  return klass

grid(screensize = null)
  for num in (1..12)
    width = round(num * $col_width, 3)
    .w{getClass(num, screensize)}
      flex: 0 0 width
    .offset{getClass(num, screensize)}
      margin-left: width;

grid()

+media('m')
  grid('medium')

+media('l')
  grid('large')

+media('xl')
  grid('xlarge')

apply_media_cache()