@import nib
@require "lib/index"

.row
  display: flex
  flex-flow: row wrap

.column
  display: flex
  flex-direction: column
  flex: 1

// default to small screens
$col-width = (100/12)%
for num in (1..12)
  .w{num}
    flex: 0 0 round(num*$col-width, 3)

+media('m')
  for num in (1..12)
    .w{num}--medium
      flex: 0 0 round(num*$col-width, 3)

+media('l')
  for num in (1..12)
    .w{num}--large
      flex: 0 0 round(num*$col-width, 3)

+media('xl')
  for num in (1..12)
    .w{num}--xlarge
      flex: 0 0 round(num*$col-width, 3)

apply_media_cache()