@import nib
@require "lib/index"

.row
  display: flex
  flex-flow: row wrap

.column
  display: flex
  flex-direction: column
  flex: 1

// alignment
.justify-start
  justify-content: flex-start
.justify-center
  justify-content: center
.justify-end
  justify-content: flex-end
.align-top
  align-items: flex-start
.align-middle
  align-items: center
.align-bottom
  align-items: flex-end

.distribute-around
  justify-content: space-around
.distribute-between
  justify-content: space-between

// reordering
.reorder-first
  order: -1
.reorder-last
  order: 1
.row.reverse
  flex-direction: row-reverse
  flex-wrap: row-reverse
.column.reverse
  flex-direction: column-reverse
  flex-wrap: column-reverse

// default to small screens
$col_width = (100/12)%

getClass(width, screensize = null)
  klass = width
  klass = '%d' % width + '--' + screensize if screensize
  return klass

grid(screensize = null)
  for num in (1..12)
    width = round(num * $col_width, 3)
    .w{getClass(num, screensize)}
      flex: 0 0 width
    .offset{getClass(num, screensize)}
      margin-left: width;

grid()

+media('m')
  grid('medium')

+media('l')
  grid('large')

+media('xl')
  grid('xlarge')

apply_media_cache()